@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css */



@layer utilities {
  .mask-tab { /* Tailwind doesnt support masks, so need to use css. This is used in SideBarTab.tsx */
    -webkit-mask: url(/public/assets/sidebar/link-tab-mask.svg) no-repeat center;
    mask: url(/public/assets/sidebar/link-tab-mask.svg) no-repeat center;
  }

  .mask-profile-tab { /* Tailwind doesnt support masks, so need to use css. This is used in SideBarTab.tsx */
    -webkit-mask: url(/public/assets/sidebar/link-tab-mask.svg) no-repeat center;
    mask: url(/public/assets/sidebar/link-tab-mask.svg) no-repeat center;
  }
}

img {
  user-drag:none;
  -webkit-user-drag: none;
}

/* Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  /*font-family: 'Work Sans', Arial, sans-serif;*/
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */
button {
  cursor: pointer;
  background-color: #3B87DD;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

/* button:hover {
  background-color: #0056b3;
} */

button.stroked {
  cursor: pointer;
  background-color: white;
  color: #3B87DD;
  border: 2px solid #3B87DD;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button.stroked:hover {
  background-color: #f0f0f0; /* Optional subtle hover effect */
}

/* Containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Flexbox Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
