.layout-1 .imgA {
  top: 0%;
  left: -5%;
  width: 30%;
  height: 30%;
}

.layout-1 .imgB {
  bottom: 10%;
  left: 5%;
  width: 20%;
  height: 40%;
}

.layout-1 .imgC {
  top: 5%;
  right: 2.5%;
  width: 20%;
  height: 40%;
}

.layout-1 .imgD {
  top: 30%;
  right: 26%;
  width: 45%;
  height: 30%;
}

.layout-1 .imgE {
  bottom: 10%;
  right: 5%;
  width: 12.5%;
  height: 25%;
}

.layout-1 .highlights-title {
  color: black;
  position: absolute;
  left: 30%; top: 20%;
  text-align: center;
}

.layout-1 .highlights-description {
  color: black;
  position: absolute;
  right: 25%; bottom: 25%;
  max-width: 24em;
  text-wrap: wrap;
  text-align: center;
}