.discovery-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 2.5em;
  margin: auto;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 503px;
  width: 779px;
}

.div1{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 80%;
  align-items: center;
}

.LeftContent {
  float: left;
}

.rightContent {
  float: right;
}

.rightContent .view-all{
  background-color: #3c9ddd;
  border-radius: 18px;
  padding: 1.8% 3.5%;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.6vw;
  transition: all 400ms ease;
  width: 67px;
  height: 24px;
  bottom: 10px;
  right: 10px;
  float: right;
  text-align: center;
}

.rightContent .view-all:hover {
  background-color: #307caf;
  text-decoration: none;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color:#323232;
  text-decoration: none;
  font-weight: 500;
  font-size: 2.1vw;
  margin: 100px;
  top: 0;
  left: 0;
}


.div2 {
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 80%;
}

