.container {
  display: flex;
  background-color: #ffffff;
  border-radius: 3.5em;
  margin: 10px;
  align-items: center;
  flex-wrap: no-wrap;
  position: relative;
  padding: 1;
  flex-direction: column;
  height: 503px;
}

.div1{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 779px;
  align-items: center;
}

.LeftContent {
  float: left;
}

.right-content {
  float: right;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color:#323232;
  text-decoration: none;
  font-weight: 500;
  font-size: 2.1vw;
  margin: 100px;
  top: 0;
  left: 0;
}


.div2 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 779px;
}

