.event-highlights {
  display: flex;
  position: relative;
  margin: 0;
  margin-top: 4%;
  aspect-ratio: 1.76/1;
  background-color: #FFFEF9;
}

.forward {
  margin-right: 6%;
}

.back {
  margin-left: 6%;
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  margin: 2% 4%;
  border-radius: 2em;
}

.event-slides {
  position: relative;
  flex: 1 0 100%;
  overflow: hidden;
  transition: translate 700ms ease-in-out;
}

.highlights-heading {
  left:50%; top: 5%;
  transform: translate(-50%);
  position: absolute;
}

.event-slides .images div {
  position: absolute;
}

.event-slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  filter: saturate(0.7);
}