.container {
    background-color: #F7F7FB;
    display: flex;
    align-items: center;
}

.image-container {
    display: inline;
    margin: 12px 12px 12px 0px;
}

.event-image {
    height: 120px;
    width: 160px;
    object-fit: cover;
    border-radius: 5px;
}

.text-container {
    display: inline;
    padding: 5px 5px 5px 5px;
}

.profile-image{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    display: inline;
}

.profile-image-special {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    display: inline;
    margin-left: -10px;
    
}

.date {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 13px;
}

.event-title {
    display: inline;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}

.location {
    margin-bottom: 0px;
}

.people {
    display: inline-block;
    align-items: center;
    padding: 5px 10px 5px 0px;
    margin-top: 0px;
    
}

.inline-text {
    display: inline;
    margin-left: 10px;
    font-size: 13px;
}