.foot{
  display:flex;
  justify-content: center;
  height: 189px;
  height: auto;
}

.foot-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  max-width:1208px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#footer-section{
  padding: 1rem;
  flex: 1;
}

.footer-section-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}



.footer-logo {
  height: 25px;
  width: 157.75px;
}
  
.footer-logo {
  height: 25px; 
    width: 157.75px;
    margin-right: 63px;
    display: block;
  }
  
.copyright{
  font-size: 13.5px;
  margin-top: 20px;
  color: #878787;
}
  
.community{
  font-size: 14.9px;
  color: #939393;
  font-weight: normal;
}

.footer-socials{
  margin-top: 24px;
  font-size: 14.9px;
}

a.footer-link{
  color: black;
}