.buttonHeading {
    padding: 10px 20px; 
    font-size: 25.5px; 
    font-weight: 500; 
    color: black; 
    background-color: white; 
    border: 1px solid black; 
    border-radius: 52px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s, color 0.3s; 
    height: 60px;
    width: 311px;
  }

  .buttonHeading:hover {
    background-color: black; 
    color: white; 

  }

  .buttonHeading:active {
    background-color: #333; 
  }

  .buttonContainer {
    text-align: center; 
    padding: 20px; 
  }