.bg{
    float: right;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 96vh;
    width: 400px;
    margin: 4vh 5vh 2vh 3vh;
    position: absolute;
    top: 8px;
    right: 16px;
  }

.bg .notifications .back .noti-back{
    color: black;
    background-color: rgba(244, 244, 244, 255);
    border-radius: 50%;
    font-size: small;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 33px;
    height: 33px;
    position: absolute;
  }

.notifications{
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-weight: lighter;
  }

.heading{
    font-family: Work Sans;
    font-weight: 400;
    color: black;
    font-size: 38px;
    padding-top: 4vh;
    line-height: 1.15;
    margin-left: 1rem;
    margin-top: 0.8rem;
  }

.notifications .tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .notifications .tabs .all button{
    color: black;
    background-color: rgb(244, 244, 244);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .notifications .tabs .all button:hover{
    background-color: rgba(60, 157, 221, 255);
    color: white;
  }

.notifications .tabs .announcements button{
    color: black;
    background-color: rgb(244, 244, 244);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 20px;
  }

  .notifications .tabs .announcements button:hover{
    background-color: rgba(60, 157, 221, 255);
    color: white;
  }

.notifications .tabs .reminders button{
    color: black;
    background-color: rgb(244, 244, 244);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 10px;
  }
  .notifications .tabs .reminders button:hover{
    background-color: rgba(60, 157, 221, 255);
    color: white;
  }

.notification{
    font-family: Arial;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  
  .notification .notification-info .notification-type{
    margin-left: 0.5rem;
    margin-right: 3rem;
    margin-top: 0.15rem;
    background-color: rgb(244, 244, 244);
    padding: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 6px;
    border-radius: 5px;
  }
  
  .notification .notification-info .notification-name{
    font-size: 15px;
    margin-bottom: 0.1rem;
  }

  .notification .notification-info p{
    font-size: 9px;
    margin: 0;
    line-height: 1.2;
  }

  .notification .notibutton{
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2.5rem;
  }

  :root{
    --horizontal-padding: 0.4rem;
    --vertical-padding: 0.1rem;
  }

  .notification .notibutton button{
    background-color: rgba(60, 157, 221, 255);
    border-radius: 50%;
    font-size: xx-small;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
  }

  .notification .button button:hover{
    background-color: rgb(96, 171, 246);
  }

  .notification .notification-info h1, .notification.notification-info{
    margin-left: 4vh;
  }

  
  