
.community-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
    font-weight: 500;
}

.community-title {
    border-color: black;
    margin-top: -80vh;
    margin-bottom: 3rem;
    border-width: 1px;
    padding: 0.5rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    border-radius: 30px;
    
}

.community-description {
    text-align: center;
    font-weight: 300;
    width: 36rem;
    line-height: 1.2rem;
}

.community-number {
    font-size: 5rem;
    line-height: 150%;
    font-weight: 600;
}

.community-description2 {
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
}

.community-signup {
    color: black;
    font-size: 0.7rem;
    border-style: solid;
    border-width: 0.6px;
    border-color: black;
    margin-top: 2.2rem;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 0.5rem;
    background-color: white;
}

.community-img1,
.community-img2,
.community-img3,
.community-img4{
    object-fit: cover;
    border-radius: 20px;
}

.community-signup:hover {
    background-color: rgb(236, 235, 235);
}

.community-pics {
    height: 100vh;
    width: 100%;
}
.community-pics-top, .community-pics-bottom {
    display: flex;
    height:  50%;
}
.community-img1 {
    margin-left: 10vw;
    margin-top: 5vh;
    transform: rotate(-15deg);
    height: 25vh;
    width: 19vh;
}
.community-img2 {
    margin-left: 53vw;
    margin-top: 12vh;
    height: 35vh;
    width: 27vh;
    transform: rotate(17deg);
}
.community-img3 {
    margin-left: 23vw;
    margin-top: 5vh;
    height: 35vh;
    width: 30vh;
    transform: rotate(7deg);
}
.community-img4 {
    margin-left: 25vw;
    margin-top: 8vh;
    height: 25vh;
    width: 17vh;
    transform: rotate(-7deg);
}