.sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(214,237,253,1) 0%, rgba(88,182,241,1) 100%);
    height: 96vh;
    width: 225px;
    margin: 2vh 5vh 2vh 3vh;
    border-radius: 30px;
}

.sidebar .club-logo {
    height: 68px;
    width: 68px;
    margin-top: 8vh;
    align-self: center;
}

/* Styles for sidebar links in general */

.sidebar .sidebar-links {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: flex-end;
}

.sidebar .sidebar-links div {
    display: flex;
    align-items: center;
    width: 190px;
    height: 64px;
    border-radius: 30px 0px 0px 30px;
    margin: 5px 0px 5px 0px;
}

.sidebar .sidebar-links .image-div {
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
}

.sidebar .sidebar-links h3 {
    width: 125px;
    height: 64px;
    align-content: center;
    font-size: 17px;
    color: white;
    margin-bottom: 0px;
    margin-left: 15px;
}

.sidebar .sidebar-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .sidebar-links div:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar .sidebar-links .image-div:hover {
    background-color: transparent;
}
/* Styles for current, selected link */

.sidebar .sidebar-links .selected {
    background-color: white;
}

.sidebar .sidebar-links .selected a {
    cursor: default;
}

.sidebar .sidebar-links .selected h3 {
    color: #5AB7F1;
}

.sidebar .sidebar-links .selected:hover, .sidebar .sidebar-links .selected .image-div:hover {
    background-color: white;
}

/* Style for logout button */
.sidebar .logout-button {
    display: flex;
    width: 115px;
    height: 35px;
    background-color: rgba(3, 112, 190, 0.38);
    border-radius: 30px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 35px;
}

.sidebar .logout-button h3 {
    font-size: 10px;
    margin: auto;
}

.sidebar .logout-button:hover {
    background-color: rgba(3, 112, 190, 0.7);
}