.sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(214,237,253,1) 0%, rgba(88,182,241,1) 100%);
    height: 96vh;
    width: 225px;
    margin: 2vh 5vh 2vh 3vh;
    border-radius: 30px;
}

.sidebar .club-logo {
    height: 68px;
    width: 68px;
    margin-top: 8vh;
    align-self: center;
}

/* Styles for sidebar links in general */

.sidebar .sidebar-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: flex-end;
}

.sidebar .sidebar-tabs .unselected-tab, .sidebar .sidebar-tabs .selected {
    display: flex;
    align-items: center;
    width: 190px;
    height: 84px;
    margin: -5px 0px -5px 0px;
    -webkit-mask: url(src/assets/sidebar/link-tab-mask.svg) no-repeat center;
    mask: url(src/assets/sidebar/link-tab-mask.svg) no-repeat center;
}

.sidebar .sidebar-tabs .image-div {
    width: 65px;
    height: 65px;
}

.sidebar .sidebar-tabs .image-div img {
    margin: 13px auto 0px auto;
}

.sidebar .sidebar-tabs h3 {
    width: 125px;
    height: 64px;
    align-content: center;
    font-size: 17px;
    color: white;
    margin-bottom: 0px;
}

.sidebar .sidebar-tabs a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .sidebar-tabs .unselected-tab :has(h3:hover, .image-div:hover){
    background-color: rgba(255, 255, 255, 0.25);
}

/* Styles for current, selected link */

.sidebar .sidebar-tabs .selected {
    background-color: white;
}

.sidebar .sidebar-tabs .selected a {
    cursor: default;
}

.sidebar .sidebar-tabs .selected h3 {
    color: #5AB7F1;
}


/* Style for logout button */
.sidebar .logout-button {
    display: flex;
    width: 115px;
    height: 35px;
    background-color: rgba(3, 112, 190, 0.38);
    border-radius: 30px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 35px;
}

.sidebar .logout-button h3 {
    font-size: 10px;
    margin: auto;
}

.sidebar .logout-button:hover {
    background-color: rgba(3, 112, 190, 0.7);
}