.upcoming-event {
  font-family: Arial;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.upcoming-event .event-info .event-type {
  margin-left: 0.5rem;
  margin-right: 3rem;
  margin-top: 0.15rem;
  background-color: rgb(244, 244, 244);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size:6px;
  border-radius: 5px;
}

.upcoming-event .event-info .event-name {
  font-size: 15px;
  margin-bottom: 0.1rem;
}

.upcoming-event .event-info p {
  font-size: 9px;
  margin: 0;
  line-height: 1.2;
}

.upcoming-event .event-button {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2.5rem;
}

:root {
  --horizontal-padding: 0.4rem;
  --vertical-padding: 0.1rem;
}

.upcoming-event .event-button button{
  background-color:rgba(60,157,221,255);
  border-radius: 50%;
  font-size: xx-small;
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}
.upcoming-event .event-button button:hover {
  background-color:rgb(96, 171, 246);
}

.upcoming-event .event-info h1, .upcoming-event .event-info h2 {
  margin-left: 4vh;
}