name: Fly Deploy Production

on: [workflow_dispatch]

jobs:
  deploy-web:
    name: Deploy Web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --config fly.production.toml
        working-directory: ./web
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_WEB_PRODUCTION_API_TOKEN }}

  deploy-api:
    name: Deploy Api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --config fly.production.toml
        working-directory: ./api
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_PRODUCTION_API_TOKEN }}
          apiKey: ${{ secrets.FLY_DB_APIKEY }}
          appId: ${{ secrets.FLY_DB_APPID }}
          authDomain: ${{ secrets.FLY_DB_AUTHDOMAIN }}
          measurementId: ${{ secrets.FLY_DB_MEASUREMENTID }}
          messagingSenderId: ${{ secrets.FLY_DB_MESSAGINGSENDERID }}
          projectId: ${{ secrets.FLY_DB_PROJECTID }}
          storageBucket: ${{ secrets.FLY_DB_STORAGEBUCKET }}
      - run: echo "appID is ${{secrets.FLY_DB_APIKEY}}"